<section id="project-management" layout="column" layout-align="start start">

  <!--project title-->
  <div layout="row" class="project-field" layout-align="space-between center">
    <label>Project title</label>
    <input type="text" placeholder="Enter project title" class="text-default" flex>
  </div>

  <!--project description [optional]-->
  <div layout="row" class="project-field" layout-align="space-between center">
    <label>Project title</label>
    
    <textarea rows="4" cols="50" placeholder="Add project description [optional]"></textarea>
  </div>

  <!--project members-->
  <div layout="column" class="project-field" layout-align="start start">
    <label>Add members to this project</label>
    
    <div layout="row" class="project-members">
      <div layout="column" class="available">
        <div class="sub-heading">Available people</div>
        <div class="member-container" layout="column" layout-align="start start" layout-padding>
          <label><input type="checkbox">Person 1</label>
          <label><input type="checkbox">Person 4</label>
        </div>
      </div>
      <div layout="column" class="added">
        <div class="sub-heading">Added people</div>
        <div class="member-container" layout="column" layout-align="start start" layout-padding>
          <label><input type="checkbox" checked>Person 2</label>
          <label><input type="checkbox" checked>Person 3</label>
        </div>
      </div>
    </div>
  </div>

  <!--save button-->
  <div class="btn-save-container">
    <button class="btn default" layout="row" layout-align="center center">
      <i class="material-icons">save</i>
      Save
    </button>
  </div>
</section>