<header id="app-main-header" layout="row" layout-align="space-between" 
*ngIf="token">
    <div class="brand">
        <h2 class="clickable" (click)="goto('/')">Medbill BugTracker</h2>
    </div>
    <div class="menus">
        <ol class="breadcrumb muteTxt">
            <li (click)="goto('/user-profile')" class="clickable">{{currentUser}}</li>
            <li (click)="logout()" class="clickable">Logout</li>
            <li class="clickable" (click)="goto('/settings')">
                <i class="material-icons">settings</i>
            </li>
          </ol>
    </div>
</header>