<section id="dashboard">



  <div layout="column">

    <div class="project-navigation" layout="row" layout-align="start center">
      <button class="btn default" layout="row" layout-align="space-between"
        data-toggle="modal" data-target="#modal-addProject">
        <i class="material-icons" title="Add new project">add_box</i>
        Add project
      </button>
      
      <select>
        <option *ngFor='let project of projects; trackBy: index;'>
          {{project.Name}}
        </option>
      </select>
    </div>
    <!-- Default panel contents -->
    <div class="project-issues">
    <div layout="row" layout-align="space-between center">
      <h4>Project issues</h4>
      <div>
        <button class="btn default" layout="row" layout-align="space-between"
         data-toggle="modal" data-target="#modal-reportbug">
          <i class="material-icons" title="Report bug">bug_report</i>
          Report bug
        </button>
      </div>
    </div>
    <!-- Table -->
    <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Creator</th>
            <th>Ticket #</th>
            <th>Title</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>Zeus</td>
            <td>1546</td>
            <td>Weird lightning</td>
            <td>InProgress</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Poseidon</td>
            <td>8431</td>
            <td>Rogue waves</td>
            <td>ToDo</td>
          </tr>
          <tr>
            <th>3</th>
            <td>Thor</td>
            <td>4548</td>
            <td>Others can also carry my hammer</td>
            <td>ToDo</td>
          </tr>
        </tbody>
    </table>
    </div>
  </div>
</section>

<!-- template for modal of bug reporting -->
<div id="modal-reportbug" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Report bug</h4>
      </div>
      <div class="modal-body">
        <p>Just do it!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- template for modal of adding new project -->
<div id="modal-addProject" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add new project</h4>
        </div>
        <div class="modal-body">
          <!--project title-->
          <div layout="row" class="project-field" layout-align="space-between center">
            <label>Project title</label>
            <input type="text" [(ngModel)]="title" placeholder="Enter project title" class="text-default" flex="80">
          </div>
        
          <!--project description [optional]-->
          <div layout="row" class="project-field" layout-align="space-between center">
            <label>Project title</label>
            
            <textarea rows="4" cols="50" [(ngModel)]="description" placeholder="Add project description [optional]" flex="80"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="addProject()">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>