<section id="dashboard">



  <div layout="column">


    <!-- Default panel contents -->
    <div layout="row" layout-align="space-between">
      <h4>Issues under Project x44</h4>
      <div>
        <button class="btn default" layout="row" layout-align="space-between">
          <i class="material-icons" title="Report bug">bug_report</i>
          Report bug
        </button>
      </div>
    </div>
    <!-- Table -->
    <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Creator</th>
            <th>Ticket #</th>
            <th>Title</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>Zeus</td>
            <td>1546</td>
            <td>Weird lightning</td>
            <td>InProgress</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Poseidon</td>
            <td>8431</td>
            <td>Rogue waves</td>
            <td>ToDo</td>
          </tr>
          <tr>
            <th>3</th>
            <td>Thor</td>
            <td>4548</td>
            <td>Others can also carry my hammer</td>
            <td>ToDo</td>
          </tr>
        </tbody>
    </table>
  </div>
</section>