<section id="dashboard">



    <div layout="column">

        <div class="project-navigation" layout="row" layout-align="start center">

            <div *ngIf="!selectedProject" class="muteTxt">Please add project. go to settings page and add project</div>

            <div class="dropdown" *ngIf="selectedProject">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                {{ selectedProject.Name }}
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li class="bm-padding clickable" (click)="selectProject(project)" 
                        *ngFor='let project of projects; trackBy: index;'>
                        <span>{{project.Name}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Default panel contents -->
        <div class="project-issues">
            <div layout="row" layout-align="space-between center">
                <h4>Project issues[{{issues.length}}]</h4>
                <div layout="row">

                    <!-- Priority type filter -->
                    <div class="dropdown">
                        <button class="btn btn default dropdown-toggle" type="button" data-toggle="dropdown">
                            Filter By priority
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" *ngIf="priorityTypeFilter">
                            <li class="bm-padding" *ngFor="let priority of priorityTypeFilter | keys" (click)="$event.stopPropagation()">
                                <label class="clickable">
                                    <input type="checkbox" [(ngModel)]="priorityTypeFilter[priority]">
                                    {{priority}}
                                </label>
                            </li>
                        </ul>
                    </div>

                    <!-- Status filter -->
                    <div class="dropdown">
                        <button class="btn btn default dropdown-toggle" type="button" data-toggle="dropdown">
                            Filter By Status
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" *ngIf="statusTypeFilter">
                            <li class="bm-padding" *ngFor="let statustype of statusTypeFilter | keys" (click)="$event.stopPropagation()">
                                <label class="clickable">
                                    <input type="checkbox" [(ngModel)]="statusTypeFilter[statustype]">
                                    {{statustype}}
                                </label>
                            </li>
                        </ul>
                    </div>
                    <button class="btn default" layout="row" layout-align="space-between" data-toggle="modal" data-target="#modal-reportbug">
          <i class="material-icons" title="Report bug">bug_report</i>
          Report bug
        </button>
                </div>
            </div>
            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Creator</th>
                        <th>Ticket #</th>
                        <th>Title</th>
                        <th>Assigned To</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Updated by</th>
                        <th>Date created</th>
                        <th>Last update</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let bug of issues; trackBy: index;">
                        <tr *ngIf="statusTypeFilter[bug.Status] && priorityTypeFilter[bug.Priority]">
                            <th>{{bug.index}}</th>
                            <td>{{bug.CreatedBy}}</td>
                            <td>{{bug.Id}}</td>
                            <td>{{bug.Title}}</td>
                            <td>{{bug.AssignedTo}}</td>
                            <td style="background: #ccc;" class="clickable" (click)="openModalForUpdatingStatus(bug)">{{bug.Status}}</td>
                            <td>{{bug.Priority}}</td>
                            <td>{{bug.UpdatedBy}}</td>
                            <td>{{bug.DateCreated}}</td>
                            <td>{{bug.LastUpdateDate}}</td>
                            <td>{{bug.StartDate}}</td>
                            <td>{{bug.EndDate}}</td>
                            <td>
                                <div layout="row" class="muteTxt clickable">
                                    <i class="material-icons" (click)="openModalForRemovingBug(bug)">delete</i>
                                    <i class="material-icons" (click)="openModalForUpdatingIssueObject(bug)">mode_edit</i>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</section>

<!-- template for modal of bug reporting -->
<div id="modal-reportbug" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Report bug</h4>
            </div>
            <div class="modal-body">
                <div layout="row" layout-align="start center" *ngIf="projectMembers" class="assignment project-field dropdown" >
                    <label>Assign to</label>
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    {{ assignTicketTo ? assignTicketTo.Name : "" }}
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="bm-padding clickable" (click)="selectMemberToAssign(member)" 
                            *ngFor='let member of projectMembers; trackBy: index;'>
                            <span>{{member.Name}}</span>
                        </li>
                    </ul>
                </div>

                <div layout="row" *ngIf="priorityTypes" class="project-field bugPriority" layout-align="start center">
                    <label>Select bug priority level</label>
                    <select [(ngModel)]="selectedPriorityType.Id">
                        <option [ngValue]="prioType.Id" *ngFor="let prioType of priorityTypes; trackBy: index;">
                        {{prioType.PriorityType1}}
                        </option>
                    </select>
                </div>

                <!--project title-->
                <div layout="row" class="project-field" layout-align="space-between center">
                    <label>Bug title</label>
                    <input type="text" [(ngModel)]="issue.title" placeholder="Enter bug title title" class="text-default" flex="80">
                </div>


                <!--project description [optional]-->
                <div layout="row" class="project-field" layout-align="space-between center">
                    <label>Bug description</label>

                    <textarea rows="4" cols="50" [(ngModel)]="issue.description" placeholder="Add bug description [optional]" flex="80"></textarea>
                </div>

                <div layout="row" class="project-field" layout-align="start center" layout-padding>
                    <label>Start Date</label>
                    <input type="text" style="margin-left: 25px;" id="startDate" class="text-default">
                </div>

                <div layout="row" class="project-field" layout-align="start center" layout-padding>
                    <label>End Date</label>
                    <input type="text" style="margin-left: 33px;" id="endDate" class="text-default">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveBug()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- template for modal of updating bug ticker -->
<div id="modal-updatebugticket" class="modal fade" role="dialog">
    <div class="modal-dialog" *ngIf="toUpdateBug">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update bug [{{toUpdateBug.Title}}]</h4>
            </div>
            <div class="modal-body">
                <div layout="row" layout-align="start center" *ngIf="projectMembers" class="assignment project-field dropdown" >
                    <label>Assign to</label>
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    {{ toUpdateBug.AssignedTo }}
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="bm-padding clickable" (click)="updateTicketAssignment(member)" 
                            *ngFor='let member of projectMembers; trackBy: index;'>
                            <span>{{member.Name}}</span>
                        </li>
                    </ul>
                </div>
                <div layout="row" class="project-field bugPriority" layout-align="start center">
                    <label>Select bug priority level</label>
                    <select [(ngModel)]="toUpdateBug.PriorityId">
                        <option [ngValue]="prioType.Id" *ngFor="let prioType of priorityTypes; trackBy: index;">
                        {{prioType.PriorityType1}}
                        </option>
                    </select>
                </div>

                <!--project title-->
                <div layout="row" class="project-field" layout-align="space-between center">
                    <label>Bug title</label>
                    <input type="text" [(ngModel)]="toUpdateBug.Title" placeholder="Enter bug title title" class="text-default" flex="80">
                </div>

                <!--project description [optional]-->
                <div layout="row" class="project-field" layout-align="space-between center">
                    <label>Bug title</label>

                    <textarea rows="4" cols="50" [(ngModel)]="toUpdateBug.Description" placeholder="Add bug description [optional]" flex="80"></textarea>
                </div>

                <div layout="row" class="project-field" layout-align="start center" layout-padding>
                    <label>Start Date</label>
                    <input type="text" style="margin-left: 25px;" id="updateStartDate" class="text-default">
                </div>

                <div layout="row" class="project-field" layout-align="start center" layout-padding>
                    <label>End Date</label>
                    <input type="text" style="margin-left: 33px;" id="updateEndDate" class="text-default">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="updatebugticket()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



<!-- template for modal of updating bug status -->
<div id="modal-updatebug" class="modal fade" role="dialog">
    <div class="modal-dialog" *ngIf="toUpdateBug">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Status [{{toUpdateBug.Title}}]</h4>
            </div>
            <div class="modal-body">

                <div layout="row" class="project-field bugPriority" layout-align="start center">
                    <label>Select updated status</label>
                    <select [(ngModel)]="toUpdateBug.StatusId">
                    <option [ngValue]="status.Id" *ngFor="let status of statusTypes; trackBy: index;">
                      {{status.Status}}
                    </option>
                  </select>
                </div>

                <div layout="row" class="project-field" layout-align="space-between center">
                    <label>Resolution Summary</label>

                    <textarea rows="4" cols="50" [(ngModel)]="toUpdateBug.ResolutionSummary" placeholder="Add resolution summary [optional]"
                        flex="80"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="updateBugStatus()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- template for modal for deleting issue -->
<div id="modal-removeBug" class="modal fade" role="dialog">
    <div class="modal-dialog" *ngIf="toRemoveBug">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove bug</h4>
            </div>
            <div class="modal-body">
                Are you to remove bug [{{toRemoveBug.Title}}]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="removeBug()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>