.request-changepassword-wrapper {
    position: relative;
}

.request-changepassword-wrapper .request-changepassword-form {
    max-width: 400px;
    height: 250px;
    padding: 20px;
}

.request-changepassword-wrapper .request-changepassword-form .f-header {
    margin: 15px auto;
}

.request-changepassword-wrapper .request-changepassword-form input {
    margin-top: 10px;
}