<div class="login-module-wrapper"
  layout="row" layout-align="center">
  
  <form flex class="login-form"
      layout="column" layout-align="start">
      <h2 class="f-header">Login</h2>
      <span style="font-size: 12px; color: #c71d1d;">{{errorMsg}}</span>
      <input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="Username">
      <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password">
      <input type="submit" value="Login" (click)="login()">
      <span class="clickable" style="font-size: 14px; color: #7d7d88;"
        (click)="goTo('/forgot-password')">
        Forgot password
      </span>
  </form>
</div>